body{
    background-color: rgb(241,241,241);
    font-size: 0.28rem;
    color: #3c3c3c;
}

.time-content-container{
    width: 100%;
    height: 0.89rem;
    background-color: #fafafa;
    border-bottom: 0.01rem solid #d7d7d7;
}
.time-content-title>i{
    display: inline-block;
    width: 0.18rem;
    vertical-align: middle;
    position: absolute;
    left: 0.3rem;
    top: 0.28rem;
}
.time-content-title{
    width: 6.9rem;
    height: 0.83rem;
    text-align: center;
    line-height: 0.83rem;
    margin: 0 auto;
}
.time-content-title.span{
    font-size: 0.34rem;
}
.time-typeswitch-container{
    width: 100%;
    height: 0.80rem;
    background-color: rgb(253,353,253);
}
.time-type-switch{
    width: 6.9rem;
    height: 0.8rem;
    margin: 0 auto;
}
.time-typeswitch-Item{
    display: inline-block;
    float: left;
    text-align: center;
    width: 50%;
    height: 0.8rem;
    line-height: 0.8rem;
}
.time-typeswitch-Item a{
    padding: 0.14rem 0.1rem;
    /*border-bottom: 0.04rem solid rgb(229,35,63);*/
    border-bottom: 0.04rem solid rgb(253,253,253);
}
.time-typeswitch-Item a:hover{
    cursor: pointer;
}
.showSwitchRed{
    color: rgb(229,35,63);
    border-bottom-color: rgb(229,35,63);
}


.time-switch-context{
    width: 100%;
    height: auto;
    display: none;
}
.time-switch-item{
    background-color: rgb(253,253,253);
    width: 100%;
    height: 0.83rem;
    border-bottom: 0.01rem solid #d7d7d7;
}
.time-switch-item span{
    margin-left: 0.3rem;
    line-height: 0.83rem;
}.time-switch-item time{
    float: right;
    margin-right: 0.3rem;
     line-height:0.83rem;
 }


